body{
	background-color: #72888E;
}

.sidebar{
	position: fixed;
}

.sidebar .sideIcon{
	background-color: #667D75;
	border-bottom: solid;
	border-color: #3F564E;
	display: list-item;
	width: 60px !important;
	margin: 0;
	padding: 10px 10px;
}

.sidebar .sideIcon:hover{
	background-color: #576D65;
}

.document{
	font-family: 'Anonymous Pro', sans-serif;
	max-width: 1000px;
	background-color: #F0F0F0;
	margin: 15px auto 0 auto;
	border-radius: 10px;
}

.document h2{
	text-align: right;
	background-color: #F0F0F0;
	margin: 0 50px;
	padding: 15px;
}

.document h3{
	text-align: center;
	margin: 0 30px;
}

.document h4{
	text-align: center;
	margin: 5px 70px;
	background-color: #CECECE;
}

.document p{
	text-align: justify;
	padding: 0px 20px 20px 20px;
	margin: 5px 50px 20px 50px;
	background-color: #F0F0F0;
}

.document .author{
	background-color: #F0F0F0;
	text-align: center;
}

.document .author h4{
	margin: 10px;
	background-color: #F0F0F0;
	display: inline-block;
	text-align: center;
}

.author .icon{
	display: inline-block;
	width: 30px !important;
}

th {
	padding: 10px;
	border: solid;
	border-color: #72888E;
}

td {
	padding: 10px;
	border: solid;
	border-color: #72888E;
}